
.page {

    gap: 10px;
    height: 100vh;
    margin: 2em;
}

#sidebar {

    display: flex; 
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    height: 85vh;
    width: 25vw; 
}

#reviews {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    /* height: 85vh;
    width: 25vw;  */
}

#rating {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    /* height: 85vh;
    width: 25vw;  */
}

#analysis {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    /* height: 85vh;
    width: 25vw;  */
}

#visitors {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;

}